@media(min-width:1200px) {}

@media(min-width:992px) and (max-width:1199px) {


    .banner_text h3::before {
        right: -29px;

    }

    .banner_text h1::before {
        right: -29px;

    }

    .banner_text h3::after {
        left: -42px;

    }

    .banner_text p::before {

        right: -29px;
        bottom: -25px;
        width: 13px;

    }

    .banner_text p::after {
        left: -43px;
        bottom: -18px;
        width: 60px;

    }

    .banner_text h1::after {
        left: -43px;


    }

    .fg ul li {
        width: 19.58%;

    }

    .footer_day ul li {
        padding-bottom: 23px;
    }

    .contact_f ul li {

        padding: 5px 7px;
        margin-left: 6px;

    }
    
    .footer_day ul li:nth-child(7){
        padding-bottom: 0;
    }
    
    .footer_day ul li:last-child{
padding-top: 10px;}



}


@media(min-width:768px) and (max-width:991px) {

    .main_menu .navbar-brand {
        width: 200px;

    }


    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px 8px;

    }

    .banner_text h3::before {
        right: -32px;

    }

    .banner_text h3::after {
        left: -33px;

    }

    .banner_text h1::before {
        right: -33px;

    }

    .banner_text h1::after {
        left: -34px;

    }

    .banner_text p::before {
        right: -33px;

    }

    .banner_text p::after {
        left: -34px;
        width: 78px;

    }

    .banner_text p::before {
        width: 46px;

    }


    .about_text h6 {
        padding-bottom: 20px;
    }


    .fg ul li {
        width: 19.42%;
        padding: 5px 0;

    }

    .fg ul li p {
        font-size: 14px;

    }

    #contact {
        padding-top: 0px;

    }

}



@media(min-width:576px) and (max-width:767px) {

    .main_menu {
        background: red;
        top: 0;
        position: sticky;
    }

    .main_menu .navbar-brand {
        width: 206px;
        height: 50px;
        padding-top: 0px !important;
    }


    .main_menu button i {
        color: #fff;
    }

    .main_menu button:focus {
        outline: none;
    }


    #navbarSupportedContent {
        background: red;
        text-align: center;
        padding: 10px 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link::after {
        display: none;
    }


    .main_menu .navbar-nav .nav-item .nav-link {

        line-height: 40px;

    }

    .banner_item {
        padding: 180px 0 120px;
        text-align: center;
    }

    .banner_text h3:after,
    .banner_text h3:before,
    .banner_text h1:after,
    .banner_text h1:before,
    .banner_text p:after,
    .banner_text p:before {
        display: none;
    }

    .banner_text h3 {
        font-size: 22px;
        padding-bottom: 0px;
    }


    .banner_text h1 {
        font-size: 41px;
        padding-bottom: 2px;
    }

    .banner_text p {
        font-size: 12px;
    }

    .banner_text a {
        font-size: 16px;
        padding: 8px 23px;
        margin-top: 19px;
        margin-left: 17px;
    }


    #banner_part .slick-dots li.slick-active button {
        width: 15px;
        height: 15px;

    }

    #about_part {
        padding: 50px 0;
    }


    .about_text p {
        text-align: justify;
        line-height: 22px;
        padding-left: 10px;
        color: #444444;
    }



    .about_text h6 {
        text-align: justify;
        line-height: 22px;
        padding-left: 10px;
        color: #444444;
        padding-bottom: 10px;
    }

    .gallery_img:nth-child(2),
    .gallery_img:nth-child(4) {
        margin-bottom: 30px;
    }

    .gallery_img:nth-child(6) {
        margin-bottom: 0;
    }


    #team_part {
        padding: 50px 0;
    }


    #test_part .slick-dots li button {
        margin: 0px 3px;
    }

    #pricing_part {
        padding: 46px 0;
    }

    .pricing_inner {
        padding-top: 18px;
    }

    .pricing_inner h3 {
        padding: 15px 0 15px;

    }

    .pricing_inner h4 {
        padding: 14px 0;
        font-size: 28px;

    }

    .pricing_inner span {
        font-size: 22px;

    }

    .pricing_inner ul li {
        padding-bottom: 7px;

    }

    .pricing_inner ul {
        padding: 27px 0 21px;

    }

    .count_text h3 {
        font-size: 25px;
    }

    #class_part {
        padding: 46px 0;
    }

    .count_text p {
        font-size: 13px;

    }


    .class_menu li {
        width: 16.33%;
        border-bottom: 1px solid red;
    }


    .fg ul li {
        width: 48.2%;
        padding: 50px 0;

    }


    .fg ul li {
        width: 49%;
        padding: 25px 0;
    }

    .fg ul li:nth-child(5),
    .fg ul li:nth-child(10) {
        margin-right: 5px;
    }





    #logo_part {
        padding-bottom: 50px;
    }


    .twitter p {
        padding: 0 30px;
        padding-bottom: 30px;


    }

    .uu h4 {
        padding-top: 20px;
        padding-left: 10px;
    }

    .contact_f p i {

        color: red;

    }

    .bk_to_top {
        width: 35px;
        height: 35px;
        line-height: 35px;
        right: 15px;
        bottom: 75px;

    }

    .footer_day {
        padding-left: 10px;
    }

    .twitter p i {
        left: 4px;

    }





}

@media(max-width:575px) {

    .main_menu {
        background: red;
        top: 0;
        position: sticky;
    }

    .main_menu .navbar-brand {
        width: 206px;
        height: 50px;
        padding-top: 0px !important;
    }


    .main_menu button i {
        color: #fff;
    }

    .main_menu button:focus {
        outline: none;
    }


    #navbarSupportedContent {
        background: red;
        text-align: center;
        padding: 10px 0;
    }

    .main_menu .navbar-nav .nav-item .nav-link::after {
        display: none;
    }


    .main_menu .navbar-nav .nav-item .nav-link {

        line-height: 40px;

    }

    .banner_item {
        padding: 80px 0 70px;
        text-align: center;
    }

    .banner_text h3:after,
    .banner_text h3:before,
    .banner_text h1:after,
    .banner_text h1:before,
    .banner_text p:after,
    .banner_text p:before {
        display: none;
    }

    .banner_text h3 {
        font-size: 22px;
        padding-bottom: 0px;
    }


    .banner_text h1 {
        font-size: 41px;
        padding-bottom: 2px;
    }

    .banner_text p {
        font-size: 12px;
    }

    .banner_text a {
        font-size: 13px;
        ;
        padding: 7px 8px;
        margin-top: 19px;
        margin-left: 14px;

    }


    #banner_part .slick-dots li.slick-active button {
        width: 15px;
        height: 15px;

    }

    #about_part {
        padding: 50px 0;
    }


    .about_text p {
        text-align: justify;
        line-height: 22px;
        padding-left: 10px;
        color: #444444;
    }



    .about_text h6 {
        text-align: justify;
        line-height: 22px;
        padding-left: 10px;
        color: #444444;
        padding-bottom: 10px;
    }

    .gallery_img:nth-child(2),
    .gallery_img:nth-child(4) {
        margin-bottom: 30px;
    }

    .gallery_img:nth-child(6) {
        margin-bottom: 0;
    }


    #team_part {
        padding: 50px 0;
    }


    #test_part .slick-dots li button {
        margin: 0px 3px;
    }

    #pricing_part {
        padding: 46px 0;
    }

    .pricing_inner {
        padding-top: 18px;
    }

    .pricing_inner h3 {
        padding: 15px 0 15px;

    }

    .pricing_inner h4 {
        padding: 14px 0;
        font-size: 28px;

    }

    .pricing_inner span {
        font-size: 22px;

    }

    .pricing_inner ul li {
        padding-bottom: 7px;

    }

    .pricing_inner ul {
        padding: 27px 0 21px;

    }

    .count_text h3 {
        font-size: 25px;
    }

    #class_part {
        padding: 46px 0;
    }

    .count_text p {
        font-size: 13px;

    }


    .class_menu li {
        width: 33.33%;
        border-bottom: 1px solid red;
    }


    .fg ul li {
        width: 48.2%;
        padding: 50px 0;

    }


    .fg ul li {
        width: 48.2%;
        padding: 25px 0;
    }

    .fg ul li:nth-child(5),
    .fg ul li:nth-child(10) {
        margin-right: 5px;
    }

    .one {

        height: 85px;

    }



    #logo_part {
        padding-bottom: 50px;
    }


    .twitter p {
        padding: 0 30px;
        padding-bottom: 30px;


    }

    .uu h4 {
        padding-top: 20px;
        padding-left: 10px;
    }

    .contact_f p i {

        color: red;

    }

    .bk_to_top {
        width: 35px;
        height: 35px;
        line-height: 35px;
        right: 15px;
        bottom: 75px;

    }

    .footer_day {
        padding-left: 10px;
    }

    .twitter p i {
        left: 4px;

    }




}
